<h1>Welcome to Your Homepage </h1>

<h2>Herbs</h2>
<br>
<br>
<br>



<h2>Recipes</h2><br>
<br>
<br>
<br>




<button><%= link_to "Create A New Recipe", logout_path %></button>
<button><%= link_to "Logout", logout_path %></button>