<h1>Welcome to Your Homepage </h1>

<h2>Herbs</h2>
<ul>
<% @herbs.each do |herb|%>
   <li><p><%= link_to "#{herb.name}", herb_path(herb) %></p></li>
<% end %>
</ul>

<%= button_to "Create A New Herb", new_herb_path, method: "get" %>




<h2>Recipes</h2><br>
<br>
<br>
<br>




<button><%= link_to "Create A New Recipe", logout_path %></button>
<button><%= link_to "Logout", logout_path %></button>