<h1>Welcome to Your Medicinal Herb Garden</h1>


<h3>Below you will find links to your list of herbs and your list of remedies</h3>


<h1><%= link_to "Herbs", herbs_path %></h1>
<a href=<%= herbs_url %>><img src="https://storage.needpix.com/rsynced_images/mint-leaves-1397346131HTn.jpg" alt="Close up of Mint leaf" width="400" height="300"></a>

<h1><%= link_to "Remedies", user_remedies_path(:user_id) %></h1>
<a href=<%= herbs_url %>><img src="https://cdn.pixabay.com/photo/2020/05/08/10/56/herbs-5145166_1280.jpg" alt="Various herbs in basket next glass container" width="500" height="300"></a>


