<div class="container">
  <div class="col-md-8 col-md-offset-2">
  <br>
    <h1>Welcome to Your Herb Garden!!</h1>
    <br>

    <h3>Please sign up for an account or login below.</h3><br><br>

    <%= button_to 'Sign Up', signup_path, method: "get"%>
    <%= button_to 'Login', login_path, method: "get" %></button>
    <br><br>
    <%= link_to 'Login with GitHub', "/auth/github" %>




  </div>
</div>
